/* 64em is also 1028px when basefont is 16px */
@media only screen and (min-width: 64rem) {

    nav ul li a {
        padding: .6rem 1rem;

    }

    body {
        margin: 0;
    }

    .logo img {
        width: 250px;
        margin-top: 1px;
    }

    h1 {
        font-size: 2.2em;
    }

    h2 {
        font-size: 2em;
    }

    p,
    a,
    footer,
    main {
        font-size: 1.2rem;
    }

    .weather-summary {
        position: absolute;
        top: 18px;
        left: 40px;
        background-color: rgba(240, 240, 240, 0.8);
        width: 20%;
        padding-left: 30px;
    }

    .article {
        display: flex;
    }

    .forecast {
        width: 60%;
    }
    
    .article-paragraph {
        float: right;
        margin-top: 30px;
    }

    .contact {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .information {
        margin-left: 20px;
    }

    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/*end large */