/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#bdfffd+0,5697d2+18,da3e52+49,453f3c+100 */
        background: #bdfffd;
        /* Old browsers */
        background: -moz-linear-gradient(left, #bdfffd 0%, #5697d2 18%, #da3e52 49%, #453f3c 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #bdfffd 0%, #5697d2 18%, #da3e52 49%, #453f3c 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #bdfffd 0%, #5697d2 18%, #da3e52 49%, #453f3c 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdfffd', endColorstr='#453f3c', GradientType=1);
        /* IE6-9 */

    }

    nav {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }

    body {
        margin: auto;
    }

    .logo img {

        background-color: #bdfffd;
        width: 120px;
        padding: 8px;
        border-radius: 35px 35px 35px 35px;

    }

    main {
        display: grid;
        justify-content: center;
        background-color: #453F3C;
    }


    footer {
        display: grid;
        justify-content: center;
    }

    header {
        background-color: #DA3E52;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h2,
    h1,
    h3, 
    p {
        color: #F0f4Ef;
    }

    .decorationhead {
        color: black;
    }

    p,
    a,
    footer,
    main {
        font-size: 1rem;
    }

    .forecast {
        width: 90%;
    }

    .contact,
    body {
        background-color: #DA3E52
    }

    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
    div.cards {
        background: #DA3E52;
    }
    .cards div:nth-child(2) figure {
        grid-column: 1;
        grid-row: 1;
    }

    .cards div:nth-child(2) section {
        grid-column: 2;
    }

}

/*end medium */