/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {

    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#c0d6df+1,36454f+100 */
        background: #c0d6df;
        /* Old browsers */
        background: -moz-linear-gradient(top, #c0d6df 1%, #36454f 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #c0d6df 1%, #36454f 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #c0d6df 1%, #36454f 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c0d6df', endColorstr='#36454f', GradientType=0);
        /* IE6-9 */

    }

    nav {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    nav button {
        display: none;
    }

    nav ul.hide {
        display: flex;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        padding: .8rem 1rem;
    }

    body {
        margin: 0;
    }

    .logo img {

        background-color: #C0D6DF;
        width: 120px;
        padding: 8px;
        border-radius: 35px 0px 35px 0px;

    }

    main {
        display: grid;
        justify-content: center;
        background-color: #C0D6DF;
    }


    footer {
        display: grid;
        justify-content: center;
        background-color: #C0D6DF
    }

    .footercontent {
        width: 550px;
    }

    header {
        background-color: #E8DAB2;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    p,
    a,
    footer,
    main {
        font-size: 1rem;
    }

    .forecast {
        width: 80%;
    }

    .contact, body {
        background-color: #C0D6DF
    }

    main,
    .contact,
    .information,
    footer {
        margin-right: 80px;
        margin-left: 80px;
        ;

    }
    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
    }
    
    .cards div:nth-child(2) figure {
        grid-column: 1;
        grid-row: 1;
    }
    .cards div:nth-child(2) section {
        grid-column: 2;
    }

}

/*end medium */