@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab&display=swap");

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*----------- apply a natural box layout model to all elements --------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 2.25rem;
    color: #fff;
}

nav {
    background-color: #36454f;
    font-family: verdana, sans-serif;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #fff;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

nav ul.hide {
    display: none;
}

.headersection {
    align-content: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

header h2 {
    margin-top: -20px;
}

body {
    margin: 10px;
}

.logo img {
    width: 100px;
    margin-right: 10px;
}

main h2 {
    text-align: center;
}

.footercontent {
    background-color: #36454f;
    padding: 10px;
}

footer {
    text-align: center;
    color: white;
    padding: 1px;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #a0abff;
}

h2,
h1,
h3 {
    font-family: "Roboto Slab", Georgia, serif;
    color: #36454f;

}

p,
a,
body {
    font-family: Montserrat, 'Times New Roman', Times, serif;
}

.decorationhead {
    color: #DD6E42;
    font-style: italic;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.3em;
}

p,
a,
footer,
main {
    font-size: 1rem;
}

.social {
    background-color: #36454f;
}

.hero-ph img {
    width: 100%;
}

.hero-div {
    position: relative;
    margin: 10px auto;
}

.forecast {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.contact {
    display: flex;
}

.map img {
    width: 100%;
}

.social {
    width: 60px;
}

.article-img {
    width: 300px;
    margin: 25px;
}

.article {
    display: block;
}

.contact {
    display: block;
}

.preston {
    text-align: center;
}

.weather {
    text-align: center;
    width: 300px;
    background-color: #e8dab2;
    margin: auto;
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}